<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
  </head>
  <body>
    
    <div ng-controller="mainCtrl" class="container" style="padding-top:30px">
      <person-info-card person="person1" collapsed="true"></person-info-card>
      <person-info-card person="person2"></person-info-card>
    </div>
    
    <div ng-controller="mainCtrl2" class="container" style="padding-top:30px">
      <video id="vid" spacebar-support event-pause="handlePause(evt)" controls preload="none" poster="http://media.w3.org/2010/05/sintel/poster.png">
        <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"></source>
        <source src="http://media.w3.org/2010/05/sintel/trailer.webm5" type="video/webm"></source>
        <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type="video/ogg"></source>
      </video>
      <div ng-repeat="message in messages">
        {{ message.text }}
      </div>
    </div>

    <div ng-controller="mainCtrl3" my-click="clickHandler(data)">
      <h1>Hello</h1>
      <h2>{{ data.message }}</h2>
    </div>

    <div ng-controller="mainCtrl4">
      <user-tile user="user1"></user-tile>
    </div>
    
    <div ng-controller="mainCtrl5">
      <div>I'm not scaled</div>
      <div font-scale="size">I'm some text</div>
      <input type="text" ng-model="size">
    </div>
          
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="script2.js"></script>
    <script src="script3.js"></script>
    <script src="script4.js"></script>
    <script src="script5.js"></script>

  </body>
</html>